h1{
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 30px;
    
}
h2 {
    font-weight: bold;
    color: black;
    padding: 20px 0px 20px 20px;
    font-size: 25px;
    
}
p{
    text-align: center;
    font-weight: bold;
    

    
}
header nav{
    text-align: center;
    padding-left: 40px;
    padding: 20px 0px 20px 0px;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    padding-left: 20px;
    font-weight: bold;
       
}


main div {   
    text-align: center;
    
}
.imagen span{
    display: inline-block;
    padding: 15px 0px 15px 0px;
    background-color: rgb(177, 163, 163);
}

div span nav {
    font-weight: bold;
}